@model Escuela

@{
    ViewData["Title"] = "Información Escuela";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">construyendo una aplicación web usando ASP.NET Core</a>.</p>
</div>

<h1>Escuela: @Model.ID</h1>
<h2>Nombre: @Model.Nombre</h2>
<h3>Tipo de Escuela: @Model.TipoEscuela</h3>
<address>
    <p>Dirección: @Model.Direccion</p>
    <p>Ciudad: @Model.Ciudad</p>
    <p>Pais: @Model.Pais</p>
</address>
<span>Año Fundacion: @Model.AñoDeCreacion </span>
